[Desktop Entry]
Encoding=UTF-8
Name=Link para Site Fórum da comunidade frontendbr no Github
Type=Link
URL=https://github.com/frontendbr/forum
Icon=text-html
Name[pt_BR]=6-2_site_forum-comunidade-front-end_github
