[Desktop Entry]
Encoding=UTF-8
Name=Link para Live de Transição: Front-End ou Back-End
Type=Link
URL=https://www.youtube.com/watch?v=hqvZuuMY-fI
Icon=text-html
Name[pt_BR]=link_live-transicao_front-end_ou_back-end
