[Desktop Entry]
Encoding=UTF-8
Name=Link para Formação Próximos Passos ONE T4: Fase Especialização | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/formacao-fase-especializacao-one-t4
Icon=text-html
Name[pt_BR]=link_dashboard_especializacao.html
