[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Porque usar ‘em’ no seu CSS hoje em dia?
Type=Link
URL=http://blog.caelum.com.br/porque-usar-em-no-seu-css-hoje-em-dia/
Icon=text-html
Name[pt_BR]=3-11_artigo_porque-usar-em-no-css
