[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Herança em JavaScript | Alura
Type=Link
URL=https://www.alura.com.br/artigos/heranca-em-javascript#:~:text=Em%2520linguagens%2520orientadas%2520a%2520objetos,alguma%2520maneira%2520de%2520estend%25C3%25AA%252Dlas.
Icon=text-html
Name[pt_BR]=5-2_artigo_heranca-em-js
