[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Como utilizar o terminal integrado do Visual Studio Code
Type=Link
URL=https://www.alura.com.br/artigos/como-utilizar-terminal-integrado-visual-studio-code
Icon=text-html
Name[pt_BR]=5-4_artigo_utilizar-terminal-vscode
