[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Mockando APIs REST com json-server
Type=Link
URL=https://www.alura.com.br/artigos/mockando-apis-rest-com-json-server
Icon=text-html
Name[pt_BR]=5-7_artigo_mokando-apis-rest-com-json-server
