[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso JavaScript na Web: manipule o DOM com JavaScript
Type=Link
URL=https://cursos.alura.com.br/course/javascript-manipulacao-dom
Icon=text-html
Name[pt_BR]=4-3_curso_js-web_manipule-dom-com-js
