[Desktop Entry]
Encoding=UTF-8
Name=Link para Site Alura Live: JavaScript
Type=Link
URL=https://www.facebook.com/AluraCursosOnline/videos/vl.358719527812713/1302936079820966/?type=1
Icon=text-html
Name[pt_BR]=4-4_alura-live_js
