[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso JavaScript na Web: validação de Formulários e HTML5
Type=Link
URL=https://cursos.alura.com.br/course/javascript-web-validacao-formularios-html5
Icon=text-html
Name[pt_BR]=4-5_curso_js-web_validar-formularios-html5
