[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Organize seu código JavaScript
Type=Link
URL=http://blog.caelum.com.br/organize-seu-codigo-javascript-de-maneira-facil/
Icon=text-html
Name[pt_BR]=4-9_artigo_organize-codigo-js
