[Desktop Entry]
Encoding=UTF-8
Name=Link para Formação Front End T4 - ONE | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/formacao-front-end-turma4-one
Icon=text-html
Name[pt_BR]=link_cursos_frontend-t4one.html
