[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Conhecendo Arrow Functions
Type=Link
URL=https://www.alura.com.br/artigos/conhecendo-arrow-functions
Icon=text-html
Name[pt_BR]=5-6_artigo_conhecer-arrow-functions
