[Desktop Entry]
Encoding=UTF-8
Name=Link para     Concluído     Video Como usar o fórum - Gui Lima - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=VljI7NbyVHE
Icon=text-html
Name[pt_BR]=2_video_como-usar-forum.html
