[Desktop Entry]
Encoding=UTF-8
Name=Link para     Site Trilha Front End T4
Type=Link
URL=https://grupocaelum.typeform.com/to/K0U0JDPZ
Icon=text-html
Name[pt_BR]=7_trilha-front-end_questionário
