[Desktop Entry]
Encoding=UTF-8
Name=Link para Site Fórum de alunos da Alura
Type=Link
URL=https://cursos.alura.com.br/forum
Icon=text-html
Name[pt_BR]=6-1_site_forum-alunos-alura
