[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso JS na web: CRUD com JavaScript assíncrono
Type=Link
URL=https://cursos.alura.com.br/course/javascript-crud-assincrono
Icon=text-html
Name[pt_BR]=5-8_curso_js-web_crud-com-js-assincrono
