[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Como funciona o import e export do JavaScript?
Type=Link
URL=https://www.alura.com.br/artigos/como-funciona-o-import-e-export-do-javascript
Icon=text-html
Name[pt_BR]=3-1_artigo_import-export_js
