[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Do zero para programador front-end
Type=Link
URL=https://www.alura.com.br/artigos/do-zero-para-programador-front-end
Icon=text-html
Name[pt_BR]=3-2_artigo_do-zero-a-programador-front-end
