[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Organizando o CSS no seu projeto
Type=Link
URL=https://www.alura.com.br/artigos/organizando-o-css-no-seu-projeto
Icon=text-html
Name[pt_BR]=3-3_artigo_organizando-css-do-projeto
