[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Flexbox: posicione elementos na tela
Type=Link
URL=https://cursos.alura.com.br/course/posicione-elementos-com-flexbox
Icon=text-html
Name[pt_BR]=3-6_curso_flexbox_distribuir-elementos
