[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Como lidar com os limites de resolução em sites responsivos?
Type=Link
URL=https://www.alura.com.br/artigos/como-lidar-com-os-limites-de-resolucao-em-sites-responsivos/
Icon=text-html
Name[pt_BR]=3-9_artigo_limites-resolução-site-responsivo
