[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Criando componentes CSS com o padrão BEM
Type=Link
URL=https://www.alura.com.br/artigos/criando-componentes-css-com-padrao-bem/
Icon=text-html
Name[pt_BR]=3_12_artigo_criar-componentes-css_padrao-bem
