[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso JavaScript: explorando a linguagem
Type=Link
URL=https://cursos.alura.com.br/course/javascript-introducao
Icon=text-html
Name[pt_BR]=4-1_curso_js-explorando-a-linguagem
