[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo O que é o DOM? | Alura
Type=Link
URL=https://www.alura.com.br/artigos/o-que-e-o-dom#:~:text=A%2520tradu%25C3%25A7%25C3%25A3o%2520do%2520acr%25C3%25B4nimo%2520ingl%25C3%25AAs,modelagem%2520de%2520todo%2520o%2520HTML.s
Icon=text-html
Name[pt_BR]=4-2_artigo_o-q-e-dom
