[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Preenchendo formulário HTML automaticamente com AJAX
Type=Link
URL=https://www.alura.com.br/artigos/preenchendo-formulario-html-automaticamente-com-ajax/
Icon=text-html
Name[pt_BR]=4-6_artigo_preencher-form-automatico-ajax
