[Desktop Entry]
Encoding=UTF-8
Name=Link para Podcast O Reino encantado do JavaScript – Hipsters #38
Type=Link
URL=https://cursos.alura.com.br/extra/hipsterstech/o-reino-encantado-do-javascript-hipsters-38-a548
Icon=text-html
Name[pt_BR]=4-7_podcast_reino-encantado-js
