[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso JavaScript: programando a Orientação a Objetos
Type=Link
URL=https://cursos.alura.com.br/course/javascritpt-orientacao-objetos
Icon=text-html
Name[pt_BR]=4-8_curso_js-programar-orientacao-objetos
