[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Arquitetura CSS: descomplicando os problemas
Type=Link
URL=https://cursos.alura.com.br/course/arquitetura-css
Icon=text-html
Name[pt_BR]=3-10_curso_arquitetura-css
