[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Layouts Responsivos: trabalhando com layouts mobile
Type=Link
URL=https://cursos.alura.com.br/course/mobile-first-layouts-responsivos
Icon=text-html
Name[pt_BR]=3-8_curso_layouts-responsivos_mobile
