[Desktop Entry]
Encoding=UTF-8
Name=Link para Alura+ CSS FlexBox: distribua elementos de forma responsiva
Type=Link
URL=https://cursos.alura.com.br/extra/alura-mais/css-flexbox-distribua-elementos-de-forma-responsiva-c301
Icon=text-html
Name[pt_BR]=3-7_aluraplus_css-flexbox_distribuicao-responsiva
