[Desktop Entry]
Encoding=UTF-8
Name=Link para Alura+ O que é acessibilidade?
Type=Link
URL=https://cursos.alura.com.br/extra/alura-mais/o-que-e-acessibilidade--c227
Icon=text-html
Name[pt_BR]=4-4_aluraplus_o-q-e-acessibilidade
