/* formulário */
.form {
  display: flex;
  justify-content: center;
}

/* input e botão */
.form-input, .form-button {
  border-radius: 0;
  padding: 0.75rem;
  font-size: 0.75rem;
}

/* input */
.form-input {
  outline: none;
  background-color: #F6F1D1;
  border-color: rgba(255, 255, 255, 0.1);
}

/* botão */
.form-button {
  border: 1px;
  background: #F6F1D1;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;
}

/* botão - transformação do cursor */
.form-button:hover {
  color: #F6F1D1;
  background: rgba(246, 241, 209, 0.1);
}